.CK-customer-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 0.5rem;
  gap: 1rem;
}

.CK-stars img {
  width: 1rem;
  height: 1rem;
}

#CK-signin {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

#CK-signin-btn,
#CK-add-customer-btn {
  background-color: black;
  width: 8rem;
  height: 3rem;
  border: white 1px solid;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

#CK-signin-btn:hover,
#CK-add-customer-btn:hover {
  width: 9rem;
  background-color: gray;
}

#CK-signin-btn a,
#CK-add-customer-btn a {
  color: white !important;
  text-decoration: none !important;
}
